<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ecshipping>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <model>\Everon\EvShipping\Model\Carrier\Shipping</model>
                <name>EV Shipping</name>
                <price>1.00</price>
                <title>EV Shipping</title>
                <type>I</type>
                <specifiermsg>Shipping method not available</specifiermsg>
            </ecshipping>
        </carriers>
        <ecshipping>
            <file>var/shipping-config.json</file>
        </ecshipping>
    </default>
</config>
