<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Everon_Shipping::rates" sortOrder="100" parent="Magento_Sales::sales_operation" translate="title" title="EvShipping Rates" module="Everon_EvShipping" resource="Magento_Sales::shipment" action="evshipping/rates"/>
    </menu>
</config>
