<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="ecshipping" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>EC Shipping</label>

                <field id="active" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="rules" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping Rules</label>
                    <backend_model>EdmondsCommerce\Shipping\Model\Config\Backend\Import</backend_model>
                    <upload_dir config="system" scope_info="1">var/ecshipping</upload_dir>
                </field>
            </group>
        </section>
    </system>
</config>